* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	@include respond(600) {
		cursor: default;
		outline: none;
	}
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	line-height: $line-height;
	font-weight: 400;
}

h1 {
	font-size: 3.5rem;
	line-height: normal;
}

h2 {
	font-size: 2.5rem;
	line-height: normal;
	margin-bottom: 0.5rem;
}

label {
	font-weight: 500;
	user-select: none;
}

// FOR TOASTIFY LIBRARY POP UP NOTIFICATION
.notification {
	color: black;
}
