* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	@include respond(600) {
		cursor: default;
		outline: none;
	}
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto", "Verdana", sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $font-size-body;
}
