// Number input type's arrows disappeared
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

li {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
}

input,
textarea,
select,
.select,
.file-input,
button {
	font-family: "Roboto", sans-serif;
	outline: none;
	border: none;
	resize: none;
	background-color: rgba(255, 255, 255, 0.602);
	font-size: $font-size-body;
}

input,
textarea,
.select,
.file-input {
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: $border-radius-5;
}
