

h1,
h2 {
	font-weight: 300;
	text-align: center;
	user-select: none;
}

h1 {
	font-size: $font-size-h1;
	line-height: $line-height-h1;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	// margin: 0 auto 1rem auto;
}

h2 {
	font-size: 3.5rem;
}

p {
	text-align: justify;
}

.title {
	@include flexColumnCenter;
	width: 100%;
	&::after {
		content: "";
		display: block;
		height: 0.2rem;
		width: 20%;
		margin: 2rem auto;
	}
}

label {
	user-select: none;
}
