.ns-btn {
	position: relative;
	min-width: 10rem;
	padding: 1rem 1.5rem;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	transition: 0.1s;
	border-radius: $border-radius-5;
	font-size: 1.6rem;

	&--header {
		transform: translateY(-0.3rem);
		border-radius: $border-radius-5;
		box-shadow: $box-shadow-button;

		&::before {
			content: "";
			position: absolute;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			height: 0;
			width: 0;
			transform: translate(-50%, -50%);
			background-image: linear-gradient(#f6d365 0%, #fda085 100%);
			transition: 0.5s;
		}

		&:hover {
			&::before {
				height: 100%;
				width: 100%;
			}
		}

		&:active {
			transform: translateY(0);
			box-shadow: $box-shadow-button--active;
		}
	}
	&--link {
		background-color: transparent;
		border-radius: $border-radius-5;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 0;
			width: 100%;
			background-image: linear-gradient(#f6d365 0%, #fda085 100%);
			transition: 0.5s;
		}

		&:hover {
			&::before {
				height: 100%;
			}
		}

		&-active {
			&::before {
				height: 100%;
			}
		}
	}

	&--submit {
		background-color: transparent;
		border-radius: $border-radius-5;
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(#f6d365 0%, #fda085 100%);
			transition: 0.5s;
		}
	}

	&__text {
		transition: 0.4s;
		position: relative;
		z-index: 100;
	}
}
