.cart-dropdown {
	position: absolute;
	top: 7rem;
	right: 4rem;
	width: 24rem;
	height: 34rem;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border: 1px solid black;
	background: $color-gradient-3;
	z-index: 5;

	@include respond(600) {
		top: 8rem;
		right: 1rem;
	}

	.empty-message {
		font-size: 1.8rem;
		margin: 5rem auto;
	}

	.cart-items {
		height: 24rem;
		display: flex;
		flex-direction: column;
		overflow: auto;
		@include hideScrollbar;
	}

	button {
		margin-top: auto;
	}
}
