.main-container {
	flex: 1 1 auto;
	overflow: auto;
	//Hide scrollbar
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;

	& > section {
		animation: dynamicAppearance 2s ease forwards;
		@include flexColumn;
		padding: 2rem;
	}
}
