.shop-item {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
    padding: 1rem;
    
    
	&__info-container {
		flex: 1 1 auto;
		margin-right: 2rem;
	}

	&__info {
		display: grid;
		grid-template-columns: minmax(10rem, 1fr) 1fr;
		gap: 1rem;
		align-items: end;
		margin-bottom: 1rem;
	}

	&__icon-container {
		flex: 0 0 auto;
		@include flexColumnEvenly;
	}
}
