.navigation {
	flex: 1;
	animation: dynamicAppearance $transition-time-header ease forwards;
	@include flexBetween;
	align-items: center;
	width: 114rem;
	border-bottom-left-radius: $border-radius-3;
	border-bottom-right-radius: $border-radius-3;

	&__list {
		flex: 1 0 50%;
		@include flexEnd;
	}

	&__item {
		margin-right: 2rem;
		flex-shrink: 0;
	}
	&__link {
		flex-shrink: 0;
	}
}
