.Navigation {
	animation: dynamicAppearance $transition-time ease forwards;
	@include flexBetween;
	width: 114rem;
	border-bottom-left-radius: $border-radius-3;
	border-bottom-right-radius: $border-radius-3;
	&__list {
		flex: 0 0 50%;
		@include flexEnd;
	}

	&__item {
		margin-right: 2rem;
	}
	&__link {
		border-radius: $border-radius-5;
		background-color: blue;
		display: inline-block;
		padding: 1rem 2rem;
	}
}
