.shop {

	&__collection {
      margin-top: 3.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1.5rem 2.5rem;
	}
	&__item {
		height:30rem;
		width: 25rem;
		background-color: red;
	}
}
