.App {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;

	background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);

	//Hide scrollbar
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;
}
